profiles {
  peripheral {
    params {
      outputDir = "$launchDir/output"
      coreProteomes = "$baseDir/data/core/test/core.fasta"
      coreBestReps = "$baseDir/data/peripherals/bestReps.fasta"
      peripheralProteomes = "$baseDir/data/peripherals/peripherals.tar.gz"
      groupsFile = "$baseDir/data/peripherals/reformattedGroups.txt"
      orthoFinderDiamondOutputFields = "qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore"
    }
    docker {
      enabled = true
    }
    singularity {
      enabled = false
    }

  }
}
